@using killerAppSemester2.Models
@model List<MotorTransmissie>
@{
    ViewBag.Title = "MTAanpassen";
}

<h2>Motor en Transmissie Aapassen</h2>

<h3>Gebruikt Nu</h3>
<ul>
    <li>@Model[0].Naam</li>
    <li>Liter per 100km: @Model[0].LiterPer100</li>
    <li>Paardenkracht: @(Model[0].Paardenkracht)pk</li>
    <li>Prijs €@Model[0].Prijs</li>
</ul>
<h3>Kan vervangen door</h3>
@for (int i = 1; i < Model.Count; i++)
{ 
    <ul>
        <li>@Model[i].Naam</li>
        <li>Liter per 100km: @Model[i].LiterPer100</li>
        <li>Paardenkracht: @(Model[i].Paardenkracht)pk</li>
        <li>Prijs €@Model[i].Prijs</li>
        <li><a href=@Url.Action("VervangeMT", new {@MTID = Model[i].Id })>Vervang</a> Huidige door bovenstaande</li>
    </ul>
}
<h4><a href=@Url.Action("Back","Aanpassen")>Terug</a></h4>